


 


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
.left-column{ 
  float:left; 
	width: 50% 
} 
.right-column{ 
  float:right; 
	width: 50%  
} 
.factory{ 
  position: absolute;
  top: 80%;
	width: 100%  
} 
.pairs{ 
  position: absolute;
  top: 110%;
	width: 100%  
} 
h3{
  color: red;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
