


 


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
.left-column{ 
  float:left; 
  width: 50% 
} 
.right-column{ 
  float:right; 
  width: 50%  
} 
.factory{ 
  position: absolute;
  top: 88%;
  width: 100%  
} 

#secondpagediv{
  top: 10%;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#table1{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: 2px solid rgb(98, 11, 238);
  width: 800px;
  height: 200px;
}

#tokentable{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: 2px solid rgb(98, 11, 238);
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid rgb(98, 11, 238);
  border-right: 1px solid rgb(98, 11, 238);

}
  
td {
  text-align: center;
  border-right: 1px solid rgb(98, 11, 238);
  border-bottom: 1px solid rgb(98, 11, 238);
  
}

.modalll {

  text-align: center;
  background-color: red;
  position: absolute;
  }

.centerrr{
  text-align: center;
  width: 100%;
  height: 100%;
}

.modal_content {
  margin: auto;
  text-align: center;
  background-color: rgb(219, 178, 239);
  z-index: 1;
  top: 8%;
  left: 65%;
  width: 20%;
  position: absolute;
}
tr {
  text-align: center;
  border-right: 1px solid rgb(98, 11, 238);
  border-bottom: 1px solid rgb(98, 11, 238);
  
}

.pairs{ 
  position: absolute;
  top: 130%;
  width: 100%  
} 
h3{
  color: darkslateblue;
  font-weight: bold
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.color{
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.App {
  background-color : lavender;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  
}

